/*setear nuestros archivos*/
body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*clases especificas*/

.bar {
    height: 250px;
    width: 1500px;
    position: fixed;
    z-index: 10;;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    width: 100px;
    text-align: center;
    float: left;
}

li a{
    text-decoration: none;
    color: gray;
}

#pinterest .red{
    color: rgb(194, 10, 10);
    margin-left: 20px;
    font-size: 30px;
}

#box-icons{
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
    margin: 0 16px;
    width: 80%;
    padding: 10px;
}

input{
    width: 80%;
    border: none;
    line-height: 20px;
    font-size: 18px;
    outline: 0;
    background-color: transparent;
    font-family: sans-serif;

}

hr{
    position: relative;
    margin-top: 30px;;
    border: 1px solid rgb(223, 223, 223);
}

/*Estilizando los botones*/
.box-buttons{
    top: 50px;
    bottom: auto;
    text-align: center;
}

.box-buttons .button-1 {
    background-color: rgba(86, 75, 150, 0.8);
    color: #fff;
    padding: 20px 30px;
    font-weight: bold; 
    border-radius: 6px;
    display: inline-block;
    margin-top: 5px;
}

.box-buttons .button-2 {
    background-color: rgba(100, 214, 55, 0.8);
    color: #fff;
    padding: 20px 30px;
    font-weight: bold; 
    border-radius: 6px;
    display: inline-block;
    margin-top: 5px;
}

.box-buttons .button-3 {
    background-color: rgba(118, 204, 219, 0.459);
    color: #fff;
    padding: 20px 30px;
    font-weight: bold; 
    border-radius: 6px;
    display: inline-block;
    margin-top: 5px;
}

.box-buttons .button-4 {
    background-color: rgba(216, 19, 167, 0.8);
    color: #fff;
    padding: 20px 30px;
    font-weight: bold; 
    border-radius: 6px;
    display: inline-block;
    margin-top: 5px;
}

.box-buttons .button-5 {
    background-color: rgba(216, 30, 30, 0.589);
    color: #fff;
    padding: 20px 30px;
    font-weight: bold; 
    border-radius: 6px;
    display: inline-block;
    margin-top: 5px;
}

.imagenes{
    position: relative;
    display: inline-block;
    width: 1550px;
    height: 1500px;
    font-weight: 900;
}

.post {
    position: relative;
    margin: 20px;
    padding: 10px;
    float: left; 
}

img {
    width: 50%;
    border-radius: 20px;
}

img[alt="img-1"]{
    top: 250px;
    height: 300px;
    width: 200px;
}

img[alt="img-2"]{
    width: 280px;
    top: 200px;
    height: 400px;
}

img[alt="img-3"]{
    top: 350px;
    width: 200px;
    height: 210px;
}

img[alt="img-4"]{
    top: 240px;
    width: 270px;
    height: 430px;
}

img[alt="img-5"]{
    width: 290px;
    height: 270px;
    top: 150px;
}

img[alt="img-6"]{
    width: 300px;
    height: 540px;
    top: 140px;
}

img[alt="img-7"]{
    width: 230px;
    height: 250px;
    top: 240px;
    left: 30px;
}

img[alt="img-8"]{
    width: 180px;
    height: 410px;
    top: 230px;
    left: 140px;

}

img[alt="img-9"]{
    width: 260px;
    height: 340px;
    top: 220px;
    left: 130px;
}

img[alt="img-10"]{
    width: 220px;
    height: 340px;
    top: 270px;
    left: 120px;
}
section img{
    max-width: 100%;
}


